## Basic Vectorization Approches


## One Hot Encoding
`pd.get_dummies(dataframe, columns=[<column names>])`
 It allows the use of categorical variables in models that require numerical input.
 
1. size of vector is directly proposnal to the vocabulary
2. More Sparsity
3. It treats words as atomic unit and has no notion of dissimilarity between word.Means if there are words `ran , run, apple` the euclidean distance between `ran` and `run` is same as `run` and `apple`
4. OOV(out of vocabulary)

In [63]:
import pandas as pd
processed_docs = ["Dog bites man","Man bites dog.","Dog eats meat.","Man eats food."]
empdata = pd.read_csv("datasets/empdata.csv")

In [26]:
empdata.head()

  First Name  Gender Senior Management             Team
0    Douglas    Male              True        Marketing
1     Thomas    Male              True              NaN
2      Maria  Female             False          Finance
3      Jerry    Male              True          Finance
4      Larry    Male              True  Client Services

### Checking unique value in columns and value counts of column data

In [32]:
print(empdata['First Name'].unique())
print("lenght = ",len(empdata['First Name'].unique()))

['Douglas' 'Thomas' 'Maria' 'Jerry' 'Larry' 'Dennis' 'Ruby' nan 'Angela'
 'Frances' 'Louise' 'Julie' 'Brandon' 'Gary' 'Kimberly' 'Lillian' 'Jeremy'
 'Shawn' 'Diana' 'Donna' 'Lois' 'Matthew' 'Joshua' 'John' 'Craig' 'Scott'
 'Terry' 'Benjamin' 'Christina' 'Joyce' 'Jean' 'Theresa' 'Rachel' 'Linda'
 'Stephanie' 'Michael' 'Christine' 'Beverly' 'Marilyn' 'Cynthia' 'Roger'
 'Bruce' 'Kathy' 'Clarence' 'Chris' 'Nancy' 'Todd' 'Alan' 'Sara' 'Karen'
 'Carl' 'Henry' 'Irene' 'Paula' 'Denise' 'Kathleen' 'Steve' 'Jose'
 'Johnny' 'Bobby' 'Bonnie' 'Margaret' 'Charles' 'Robin' 'Gerald'
 'Christopher' 'Steven' 'Doris' 'Annie' 'Janice' 'James' 'Virginia'
 'Harry' 'Heather' 'Laura' 'Tina' 'Harold' 'Melissa' 'Aaron' 'Jack'
 'Phyllis' 'Paul' 'Russell' 'Shirley' 'Willie' 'Ashley' 'Pamela' 'Andrea'
 'Peter' 'Helen' 'Patricia' 'Michelle' 'William' 'Kenneth' 'Antonio'
 'Rebecca' 'Carlos' 'Carolyn' 'Gloria' 'Adam' 'Elizabeth' 'Teresa'
 'Nicole' 'Jennifer' 'Philip' 'Patrick' 'Sean' 'Ruth' 'Victor' 'Marie'
 'Howard' 'Norma' 'Arthur' 'Mary' 'Wayne' 'Jane' 'Jessica' 'Mark' 'Randy'
 'Sandra' 'Carol' 'Barbara' 'Ronald' 'Jonathan' 'Katherine' 'Emily' 'Lisa'
 'Evelyn' 'Gregory' 'Billy' 'Jason' 'Daniel' 'Sarah' 'George' 'Diane'
 'Kathryn' 'Cheryl' 'Kevin' 'Walter' 'Robert' 'Jimmy' 'Fred' 'Brenda'
 'Justin' 'Betty' 'Sharon' 'Ralph' 'Edward' 'Debra' 'Anne' 'Roy' 'Frank'
 'Nicholas' 'Judy' 'Tammy' 'Jesse' 'Joan' 'Ernest' 'Jacqueline' 'Jeffrey'
 'Samuel' 'Earl' 'Richard' 'Lori' 'Susan' 'Juan' 'Albert' 'Stephen' 'Rose'
 'Joe' 'Julia' 'Dorothy' 'Deborah' 'Alice' 'Wanda' 'Lawrence' 'Amy' 'Ryan'
 'Judith' 'Eugene' 'Donald' 'Ann' 'Raymond' 'Catherine' 'Amanda' 'Anna'
 'Joseph' 'Andrew' 'Kelly' 'Louis' 'Mildred' 'Eric' 'Timothy' 'Anthony'
 'Martha' 'Brian' 'Martin' 'Janet' 'Keith' 'Phillip' 'David']
lenght =  201

In [45]:
for column in empdata:
    unique_data = empdata[column].unique()
    print("column name : ", column)
    print(unique_data)
    print("length = ",len(unique_data))
    print("value Count of column : ",empdata[column].value_counts())
    print("-"*25)

column name :  First Name
['Douglas' 'Thomas' 'Maria' 'Jerry' 'Larry' 'Dennis' 'Ruby' nan 'Angela'
 'Frances' 'Louise' 'Julie' 'Brandon' 'Gary' 'Kimberly' 'Lillian' 'Jeremy'
 'Shawn' 'Diana' 'Donna' 'Lois' 'Matthew' 'Joshua' 'John' 'Craig' 'Scott'
 'Terry' 'Benjamin' 'Christina' 'Joyce' 'Jean' 'Theresa' 'Rachel' 'Linda'
 'Stephanie' 'Michael' 'Christine' 'Beverly' 'Marilyn' 'Cynthia' 'Roger'
 'Bruce' 'Kathy' 'Clarence' 'Chris' 'Nancy' 'Todd' 'Alan' 'Sara' 'Karen'
 'Carl' 'Henry' 'Irene' 'Paula' 'Denise' 'Kathleen' 'Steve' 'Jose'
 'Johnny' 'Bobby' 'Bonnie' 'Margaret' 'Charles' 'Robin' 'Gerald'
 'Christopher' 'Steven' 'Doris' 'Annie' 'Janice' 'James' 'Virginia'
 'Harry' 'Heather' 'Laura' 'Tina' 'Harold' 'Melissa' 'Aaron' 'Jack'
 'Phyllis' 'Paul' 'Russell' 'Shirley' 'Willie' 'Ashley' 'Pamela' 'Andrea'
 'Peter' 'Helen' 'Patricia' 'Michelle' 'William' 'Kenneth' 'Antonio'
 'Rebecca' 'Carlos' 'Carolyn' 'Gloria' 'Adam' 'Elizabeth' 'Teresa'
 'Nicole' 'Jennifer' 'Philip' 'Patrick' 'Sean' 'Ruth' 'Victor' 'Marie'
 'Howard' 'Norma' 'Arthur' 'Mary' 'Wayne' 'Jane' 'Jessica' 'Mark' 'Randy'
 'Sandra' 'Carol' 'Barbara' 'Ronald' 'Jonathan' 'Katherine' 'Emily' 'Lisa'
 'Evelyn' 'Gregory' 'Billy' 'Jason' 'Daniel' 'Sarah' 'George' 'Diane'
 'Kathryn' 'Cheryl' 'Kevin' 'Walter' 'Robert' 'Jimmy' 'Fred' 'Brenda'
 'Justin' 'Betty' 'Sharon' 'Ralph' 'Edward' 'Debra' 'Anne' 'Roy' 'Frank'
 'Nicholas' 'Judy' 'Tammy' 'Jesse' 'Joan' 'Ernest' 'Jacqueline' 'Jeffrey'
 'Samuel' 'Earl' 'Richard' 'Lori' 'Susan' 'Juan' 'Albert' 'Stephen' 'Rose'
 'Joe' 'Julia' 'Dorothy' 'Deborah' 'Alice' 'Wanda' 'Lawrence' 'Amy' 'Ryan'
 'Judith' 'Eugene' 'Donald' 'Ann' 'Raymond' 'Catherine' 'Amanda' 'Anna'
 'Joseph' 'Andrew' 'Kelly' 'Louis' 'Mildred' 'Eric' 'Timothy' 'Anthony'
 'Martha' 'Brian' 'Martin' 'Janet' 'Keith' 'Phillip' 'David']
length =  201
value Count of column :  First Name
Marilyn    11
Barbara    10
Jeremy     10
Todd       10
Steven      9
           ..
Brian       1
Jean        1
Dennis      1
Angela      1
David       1
Name: count, Length: 200, dtype: int64
-------------------------
column name :  Gender
['Male' 'Female' nan]
length =  3
value Count of column :  Gender
Female    431
Male      424
Name: count, dtype: int64
-------------------------
column name :  Senior Management
[True False nan]
length =  3
value Count of column :  Senior Management
True     468
False    465
Name: count, dtype: int64
-------------------------
column name :  Team
['Marketing' nan 'Finance' 'Client Services' 'Legal' 'Product'
 'Engineering' 'Business Development' 'Human Resources' 'Sales'
 'Distribution']
length =  11
value Count of column :  Team
Client Services         106
Finance                 102
Business Development    101
Marketing                98
Product                  95
Sales                    94
Engineering              92
Human Resources          91
Distribution             90
Legal                    88
Name: count, dtype: int64
-------------------------

### Implementing One hot encoding

In [46]:
OHE = pd.get_dummies(empdata, columns=['Gender'])

In [47]:
OHE

,First Name,Senior Management,Team,Gender_Female,Gender_Male
0,Douglas,True,Marketing,False,True
1,Thomas,True,NaN,False,True
2,Maria,False,Finance,True,False
3,Jerry,True,Finance,False,True
4,Larry,True,Client Services,False,True
...,...,...,...,...,...
995,Henry,False,Distribution,False,False
996,Phillip,False,Finance,False,True
997,Russell,False,Product,False,True
998,Larry,False,Business Development,False,True
999,Albert,True,Sales,False,True

In [50]:
OHE1 = pd.get_dummies(empdata, columns=["Team","Gender"])
OHE1

,First Name,Senior Management,Team_Business Development,Team_Client Services,Team_Distribution,Team_Engineering,Team_Finance,Team_Human Resources,Team_Legal,Team_Marketing,Team_Product,Team_Sales,Gender_Female,Gender_Male
0,Douglas,True,False,False,False,False,False,False,False,True,False,False,False,True
1,Thomas,True,False,False,False,False,False,False,False,False,False,False,False,True
2,Maria,False,False,False,False,False,True,False,False,False,False,False,True,False
3,Jerry,True,False,False,False,False,True,False,False,False,False,False,False,True
4,Larry,True,False,True,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,False,False,False,True,False,False,False,False,False,False,False,False,False
996,Phillip,False,False,False,False,False,True,False,False,False,False,False,False,True
997,Russell,False,False,False,False,False,False,False,False,False,True,False,False,True
998,Larry,False,True,False,False,False,False,False,False,False,False,False,False,True
999,Albert,True,False,False,False,False,False,False,False,False,False,True,False,True

In [51]:
OHE1.head()

,First Name,Senior Management,Team_Business Development,Team_Client Services,Team_Distribution,Team_Engineering,Team_Finance,Team_Human Resources,Team_Legal,Team_Marketing,Team_Product,Team_Sales,Gender_Female,Gender_Male
0,Douglas,True,False,False,False,False,False,False,False,True,False,False,False,True
1,Thomas,True,False,False,False,False,False,False,False,False,False,False,False,True
2,Maria,False,False,False,False,False,True,False,False,False,False,False,True,False
3,Jerry,True,False,False,False,False,True,False,False,False,False,False,False,True
4,Larry,True,False,True,False,False,False,False,False,False,False,False,False,True

## Bag Of Words
The key idea behind it is as follows: represent the text under consideration as a bag (collec‐ tion) of words while ignoring the order and context. The basic intuition behind it is that it assumes that the text belonging to a given class in the dataset is characterized by a unique set of words. If two text pieces have nearly the same words, then they belong to the same bag (class). Thus, by analyzing the words present in a piece of text, one can identify the class (bag) it belongs to.



It overcome the few drawbacks of `OHE` like

1. Similar words are clustored together.Which capture some context
2. If two documents have similar vocabulary, they’ll be closer to each other in the vector space and vice versa.

Drawbacks
1. As name says Bag of Words so the order is lost
2. OOV
3. It does not capture the similarity between different words that mean the same thing. Say we have three documents: “I run”, “I ran”, and “I ate”. BoW vectors of all three documents will be equally apart.

`from sklearn.feature_extraction.text import CountVectorizer`

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [64]:

bow_rep = count_vect.fit_transform(processed_docs)

In [65]:
print("Our vocabulary: ", count_vect.vocabulary_)

Our vocabulary:  {'dog': 1, 'bites': 0, 'man': 4, 'eats': 2, 'meat': 5, 'food': 3}

In [76]:
bow_rep.toarray()

array([[1, 1, 0, 0, 1, 0],
       [1, 1, 0, 0, 1, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 1, 1, 1, 0]])

In [74]:
print("BoW representation for 'dog bites man': ", bow_rep[0].toarray())

BoW representation for 'dog bites man':  [[1 1 0 0 1 0]]

In [77]:
print("BoW representation for 'man bites dog: ",bow_rep[1].toarray())

BoW representation for 'man bites dog:  [[1 1 0 0 1 0]]

In [79]:
print("BoW representation for 'Man eats food.: ",bow_rep[3].toarray())

BoW representation for 'Man eats food.:  [[0 0 1 1 1 0]]

In [80]:
#Get the representation using this vocabulary, for a new text
temp = count_vect.transform(["dog and dog are friends"])

In [83]:
print("Bow representation for 'dog and dog are friends':",temp.toarray())

Bow representation for 'dog and dog are friends': [[0 2 0 0 0 0]]

Sometimes, we don’t care about the frequency of occurrence of words in text and we only want to represent whether a word exists in the text or not. Researchers have shown that such a representation without considering fre‐ quency is useful for sentiment analysis.In such cases, we just initialize CountVectorizer with the binary=True option

In [86]:
count_vect = CountVectorizer(binary=True)
bow_rep = count_vect.fit_transform(processed_docs)
bow_rep.toarray()

array([[1, 1, 0, 0, 1, 0],
       [1, 1, 0, 0, 1, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 1, 1, 1, 0]])

In [89]:
new_text = count_vect.transform(['dog and dog are friends'])

In [90]:
new_text.toarray()

array([[0, 1, 0, 0, 0, 0]])

### Bag Of N Grams

All the representation schemes we’ve seen so far treat words as independent units. There is no notion of phrases or word ordering. The bag-of-n-grams (BoN) approach tries to remedy this. It does so by breaking text into chunks of n contiguous words (or tokens). This can help us capture some context, which earlier approaches could not do. Each chunk is called an n-gram. The corpus vocabulary, V, is then nothing but a collection of all unique n-grams across the text corpus.

To elaborate, let’s consider our example corpus. Let’s construct a 2-gram (a.k.a. bigram) model for it. The set of all bigrams in the corpus is as follows: {dog bites, bites man, man bites, bites dog, dog eats, eats meat, man eats, eats food}. Then, BoN representation consists of an eight-dimensional vector for each document. The bigram representation for the first two documents is as follows: D1 : [1,1,0,0,0,0,0,0], D2 : [0,0,1,1,0,0,0,0].

pros and cons of BoN:

1. It captures some context and word-order information in the form of n-grams.
2. As n increases, dimensionality (and therefore sparsity) only increases rapidly.
3. oov

In [115]:
#n-gram vectorization example with count vectorizer and uni, bi, trigrams
bag_n_gram = CountVectorizer(ngram_range=(1,3))

In [116]:
bow_rep = bag_n_gram.fit_transform(processed_docs)

In [117]:
#Look at the vocabulary mapping
print("Our vocabulary: ", bag_n_gram.vocabulary_)

Our vocabulary:  {'dog': 3, 'bites': 0, 'man': 12, 'dog bites': 4, 'bites man': 2, 'dog bites man': 5, 'man bites': 13, 'bites dog': 1, 'man bites dog': 14, 'eats': 8, 'meat': 17, 'dog eats': 6, 'eats meat': 10, 'dog eats meat': 7, 'food': 11, 'man eats': 15, 'eats food': 9, 'man eats food': 16}

In [118]:
#Get the representation using this vocabulary, for a new text
temp = bag_n_gram.transform(["dog and dog are friends"])
print("Bow representation for 'dog and dog are friends':", temp.toarray())

Bow representation for 'dog and dog are friends': [[0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [121]:
len(temp.toarray()[0])

18

### TF-IDF(Term Frequency - Inverse Document Frequency)
In all the three approaches weve seen so far, all the words in the text are treated as equally important—there’s 
no notion of some words in the document being more important than others. TF-IDF, or term frequency–inverse document frequency, 
addresses this issue. It aims to quantify the importance of a given word relative to other words in the document and in the corpus.
It’s a commonly used representation scheme for information-retrieval systems, for extracting relevant documents from a corpus for 
a given text query.
"The intuition behind TF-IDF is as follows: if a word w appears many times in a docu‐ ment di but does not occur much in the rest of the documents dj in the corpus, then the word w must be of great importance to the document di. The importance of w should increase in proportion to its frequency in di, but at the same time, its impor‐ tance should decrease in proportion to the word’s frequency in other documents dj in the corpus. Mathematically, this is captured using two quantities: TF and IDF. The two are then combined to arrive at the TF-IDF score."

TF (term frequency) measures how often a term or word occurs in a given document. Since different documents in the corpus may be of different lengths, a term may occur more often in a longer document as compared to a shorter document. To nor‐ malize these counts, we divide the number of occurrences by the length of the docu‐ ment. TF of a term t in a document d is defined as: TF t, d = Number of occurrences of term t in document d Total number of terms in the document d"


IDF (inverse document frequency) measures the importance of the term across a cor‐ pus. In computing TF, all terms are given equal importance (weightage). However, it’s a well-known fact that stop words like is, are, am, etc., are not important, even though they occur frequently. To account for such cases, IDF weighs down the terms that are very common across a corpus and weighs up the rare terms. IDF of a term t is calcu‐ lated as follows:
IDF t = loge Total number of documents in the corpus Number of documents with term t in them

The TF-IDF score is a product of these two terms. Thus, TF-IDF score = TF * IDF


TF-IDF is better than the vectorization methods we saw earlier in terms of capturing similarities between words, it still suffers from the curse of high dimensionality.

In [141]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf =  TfidfVectorizer()
bow_rep_tfidf = tfidf.fit_transform(processed_docs)

In [142]:
print(tfidf.idf_) #IDF for all words in the vocabulary

[1.51082562 1.22314355 1.51082562 1.91629073 1.22314355 1.91629073]

In [148]:
print(tfidf.get_feature_names_out()) #All words in the vocabulary.

['bites' 'dog' 'eats' 'food' 'man' 'meat']

In [149]:
temp = tfidf.transform(["dog and man are friends"])
print("Tfidf representation for 'dog and man are friends':\n", temp.toarray())

Tfidf representation for 'dog and man are friends':
 [[0.         0.70710678 0.         0.         0.70710678 0.        ]]

### If we look back at all the representation schemes we’ve discussed so far, we notice three fundamental drawbacks:
1. They’re discrete representations—i.e., they treat language units (words, n-grams, etc.) as atomic units. This discreteness hampers their ability to capture relation‐ ships between words.
2.  The feature vectors are sparse and high-dimensional representations. The dimen‐ sionality increases with the size of the vocabulary, with most values being zero for any vector. This hampers learning capability. Further, high-dimensionality representation makes them computationally inefficient.
3.  They cannot handle OOV words.